<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список задач</title>
</head>
<body>
    <h1>Список задач</h1>
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong>
                {% if task.is_completed %}
                    <span style="color: green;">(Выполнено)</span>
                {% else %}
                    <span style="color: red;">(Не выполнено)</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
